@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600&display=swap");

html,
body {
  height: 100%;
}

body {
  background-color: #001821;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

*,
::after,
*::before {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin-top: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  background: transparent;
  border: none;
}

.wrapper {
  min-height: 100%;
  background: #001822;
  display: flex;
  flex-direction: column;
  min-width: 1200px;
}

.wrapper_main {
  background: url("../../image/main/hero-top.jpg") no-repeat top center,
    url("../../image/main/hero-bottom.jpg") no-repeat bottom center;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 640px) {
  html,
  body {
    height: 100vh;
    overflow-y: hidden;
  }

  .wrapper {
    height: 100vh;
    min-height: 0;
    display: flex;
    flex-direction: column;
    min-width: auto;
  }

  .wrapper_main {
    /* background: url("../../image/main/hero-top.jpg") no-repeat center left 30%; */
    background: url("../../image/main/hero-top.jpg")no-repeat 33%;
    background-size: cover;
  }

  .container  {
    width: 90%;
  }
}
