.contacts {
  font-style: normal;
  margin-left: 65px;
  position: relative;
  display: inline-block;
}

.contacts:hover .contacts__dropdown-title {
  opacity: 1;
}

.contacts:hover .contacts__description {
  display: block;
}

.contacts__tel,
.contacts__dropdown-title,
.contacts__text {
  color: #fff;
  display: block;
}

.contacts__tel {
  font-size: 26px;
  line-height: 32px;
  text-decoration: none;
}

.contacts__dropdown-title {
  width: max-content;
  margin-left: auto;
  font-size: 13px;
  line-height: 8px;
  cursor: pointer;
  opacity: 0.7;
  text-decoration: underline;
}

.contacts__text {
  color: #9a9a9a;
  font-size: 11px;
  width: max-content;
  margin-left: auto;
  line-height: 19px;
}

.contacts__description {
  position: absolute;
  width: 160px;
  height: 60px;
  margin-left: 26px;
  background: #ededed;
  border-radius: 5px;
  top: 100%;
  right: 0;
  display: none;
  top: 50px;
}

.contacts__description:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 100%;
  top: calc(5% - 10px);
  right: calc(20% - 10px);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 20px solid #ededed;
}

.contacts__list {
  padding: 10px 20px 0;
}

.contacts__item {
  color: #1e1f20;
  font-size: 13px;
  line-height: 21px;
  /* font-weight: 600; */
}

.contacts__item--fw {
  font-weight: 700;
}

@media (max-width: 640px) {
  .contacts {
    display: none;
  }
}
