.preview {
  position: relative;
  padding: 100px 0 255px;
  color: #fff;
}

.preview__title {
  width: 48%;
  font-size: 75.5px;
  line-height: 1.29;
  margin-bottom: 28px;
  margin-top: 0;
}

.preview__text {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 25px;
}

.preview__button {
  padding: 20px 40px;
}

@media (max-width: 640px) {
  .preview {
    padding: 50% 0 0;
  }

  .preview__title {
    font-size: 65.5px;
  }
}
