.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.socials {
  margin-left: 210px;
}

.socials__item--icon--telegram {
  background-image: url('./image/main/telegram.png');
}

.socials__item--icon--telegram:hover {
  background-image: url('./image/main/t-light.png');
}

.socials__item--icon--vk {
  background-image: url('./image/main/vk.png');
}

.socials__item--icon--vk:hover {
  background-image: url('./image/main/vk-light.png');
}

.socials__item--icon--fb {
  background-image: url('./image/main/f.png');
}

.socials__item--icon--fb:hover {
  background-image: url('./image/main/f-light.png');
}

.socials__item--icon--insta {
  background-image: url('./image/main/in.png');
}

.socials__item--icon--insta:hover {
  background-image: url('./image/main/in-light.png');
}